/* IE6-8 */
@media \0screen\,screen\9{
   	.slider-wrapper{width: 100%;height: 500px;overflow: hidden;background-image: url(../images/homeimg/contactbgimg.jpg);} /*轮播图改为图片背景*/
	.content .box{background-color: none;} /* 取消透明度 */
	.content .release .box:hover{background-color: none;} /* 取消透明度 */	
}

/* IE9-10*/
@media screen and (min-width:0\0) {
   	.slider-wrapper{width: 100%;height: 500px;overflow: hidden;background-image: url(../images/homeimg/contactbgimg.jpg);} /*轮播图改为图片背景*/
	.content .box{background-color: none;} /* 取消透明度 */
	.content .release .box:hover{background-color: none;} /* 取消透明度 */	
}

/* iphone */
@media  screen  and (min-width: 320px) and (max-width: 767px)  {
	body{width: 100%;height: 100%;}
		section{width: 100%;height: auto;}
   		.slider-wrapper{width: 100%;height: auto;overflow: hidden;} /*轮播图*/
		.content{width: 100%;overflow: hidden;padding: 0 10%;}
		.content > div{width: 100%;;height: auto;margin: 0 auto;text-align: center;padding: 6% 0;}
		.content > div:last-child{margin-bottom: 2rem;margin-top: -3rem;}			
		.content hr{border: 1px solid gray;}
		.content h2{color: #f10180;}
		.content .release p,.content .about p{font-size: 1rem;color: black;}
		.content .release > div{width: 95%;height: auto;margin: 0 auto;}
		.content .release > div > div{width: 100%;height: 160px;margin-bottom: 2rem;}
		.content .box{width: 100%;height: 100%;line-height: 15rem;background-color: rgba(36, 36, 36,0.4);}
		.content .release a{display: inline-block;color: #f10180;font-size: 2.2rem;font-weight: bold;text-shadow: 0 2px 2px black;}
		.content .release .pic1{background: url(../images/homeimg/waitao.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic2{background: url(../images/homeimg/bao.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic3{background: url(../images/homeimg/huazhuangpin.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic4{background: url(../images/homeimg/qun.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic5{background: url(../images/homeimg/shipin.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic6{background: url(../images/homeimg/xie.jpg) no-repeat bottom;background-size: 100% 100%;}	
		.content .about div{width: 95%;background: url(../images/homeimg/about.jpg) no-repeat center top;background-size: 60%;margin: 0 auto;padding: 2rem;height: auto;border: 4px dotted #f10180;}		
		.content .about div p{font-size: 1.4rem;color: #EE799F;width: 100%;height: 40%;margin-top: 75%;text-align: left;word-wrap:break-word;}
		.content .about div p span{font-size: 2rem;font-style: italic;display: block;color: #EE1289;margin-bottom: 2rem;}
}

/* iPad */
@media  screen  and (min-width: 768px) and (max-width: 1023px){
	body{width: 100%;height: 100%;}
	 	section{width: 100%;height: auto;}
   		.slider-wrapper{width: 100%;height: auto;overflow: hidden;} /*轮播图*/
		.content{width: 100%;height: auto;overflow: hidden;padding: 0 10%;}
		.content > div{width: 100%;margin: 0 auto;padding: 6% 0;text-align: center;}	
		.content > div:last-child{margin-bottom: 2rem;margin-top: -3rem;}
		.content hr{border: 1px solid gray;}
		.content h2{color: #f10180;}
		.content .release p,.content .about p{font-size: 1rem;color: black;}
		.content .release > div{width: 95%;height: 160px;margin: 0 auto 3rem;}
		.content .release > div > div:first-child{float: left;width: 48%;height: 100%;}
		.content .release > div > div:last-child{float: right;width: 48%;height: 100%;}
		.content .box{width: 100%;height: 100%;line-height: 15rem;background-color: rgba(36, 36, 36,0.4);}
		.content .release .box:hover{background-color: rgba(36, 36, 36,0.6);}
		.content .release a{display: inline-block;color: #f10180;font-size: 2.2rem;font-weight: bold;text-shadow: 0 2px 2px black;}
		.content .release .pic1{background: url(../images/homeimg/waitao.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic2{background: url(../images/homeimg/bao.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic3{background: url(../images/homeimg/huazhuangpin.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic4{background: url(../images/homeimg/qun.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic5{background: url(../images/homeimg/shipin.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic6{background: url(../images/homeimg/xie.jpg) no-repeat bottom;background-size: 100% 100%;}
		.content .about{margin-bottom: 2rem;padding:2rem;}		
		.content .about div{width: 95%;background: url(../images/homeimg/about.jpg) no-repeat left;background-size: 54%;margin: 0 auto;padding: 2rem;height: auto;background-color: white;border: 4px dotted #f10180;}		
		.content .about div p{font-size: 1.4rem;color: #EE799F;width: 42%;height: 70%;margin-top: 6%;margin-left: 54%;text-align: left;word-wrap:break-word;vertical-align: center;}
		.content .about div p span{font-size: 2rem;font-style: italic;display: block;color: #EE1289;margin-bottom: 2rem;}
}

/*大于1024px*/
@media  screen  and (min-width: 1024px)  {
 	section{width: 100%;height: auto;}
   		.slider-wrapper{width: 100%;height: auto;overflow: hidden;} /*轮播图*/
		.content{width: 100%;height: auto;margin: 2.5% auto;padding: 0 18%;overflow: hidden;}
		.content > div{width: 1280px;height: auto;margin: 0 auto;padding: 27px 0;text-align: center;}	
		.content hr{border: 1px solid gray;}
		.content h2{color: #f10180;}
		.content .release p,.content .about p{font-size: 1rem;color: black;}
		.content .release > div{width: 95%;height: 310px;margin: 0 auto 3rem;}
		.content .release > div > div:first-child{float: left;width: 47%;height: 100%;}
		.content .release > div > div:last-child{float: right;width: 47%;height: 100%;}
		.content .box{width: 100%;height: 100%;line-height: 25rem;background-color: rgba(36, 36, 36,0.4);font-size: 8rem;}
		.content .release .box:hover{background-color: rgba(36, 36, 36,0.6);}
		.content .release a{display: inline-block;color: #f10180;font-size: 2.2rem;font-weight: bold;text-shadow: 0 2px 2px black;}
		.content .release .pic1{background: url(../images/homeimg/waitao.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic2{background: url(../images/homeimg/bao.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic3{background: url(../images/homeimg/huazhuangpin.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic4{background: url(../images/homeimg/qun.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic5{background: url(../images/homeimg/shipin.jpg) no-repeat center;background-size: 100% 100%;}
		.content .release .pic6{background: url(../images/homeimg/xie.jpg) no-repeat bottom;background-size: 100% 100%;}	
		.content .about div{width: 95%;height: 420px;margin: 0 auto;padding: 5rem;background: url(../images/homeimg/about.jpg) no-repeat left;border: 4px dotted #f10180;;}		
		.content .about div p{font-size: 1.4rem;color: #EE799F;width: 50%;height: 70%;margin-top: 6%;margin-left: 45%;text-align: left;word-wrap:break-word;vertical-align: center;}
		.content .about div p span{font-size: 2rem;font-style: italic;display: block;color: #EE1289;margin-bottom: 2rem;}
}