	*{margin: 0;padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;}
 	body{font-size: 62.5%;font-family: "微软雅黑";}
 	a{text-decoration: none;}
 	body a:hover{text-decoration: none;}
 	body a:active{color: #EE30A7;}
	li{list-style-type: none;}
	img{border: 0;max-width: 100%;width: auto;}
	header,footer,article,aside,section,nav{display:block} /* 支持HTML5 */

/* iphone */
@media  screen  and (min-width: 320px) and (max-width: 767px)  {
	body{width: 100%;height: 100%;}
	/*header*/
 	header{position: relative;width: 100%;height: 10%;overflow: hidden;margin-top: 1rem;}
 	header > div{width: 100%;height: auto;margin-bottom: 4rem;text-align: center;color: #3D3D3D;}
 	header > div > div:first-child{width: 100%;height: auto;}
 	header > div > div:last-child{width: 100%;height: auto;font-weight: bold;font-size: 1.2rem;}
	header > div > div:last-child span{float: left;display: inline-block;width: 45%;height: auto;color: #4F4F4F;font-size: 1.2rem;}
 	header > div > div:last-child a{float: right;width: 15%;display: inline-block;height: auto;margin-right: 2%;}
 	header > div > div:last-child a > i{display: inline-block;width: 100%;height: 100%;padding: 1rem;color: #292929;border: 1px solid #292929;font-size: 2rem;}
 	header nav{clear: both;width: 100%;height: 40px;line-height: 40px;background-color: #f10180;}
 	header ul{width: 100%;height: 100%;text-align: center;}
 	header ul li{float: left;width: 20%;height: 100%;}
 	header nav a{display: inline-block;width: 100%;height: 100%;text-align: center;color: white;font-weight: bold;font-size: 1.4rem;}
	/*fixednav*/
	#fixednav{position: fixed;right: 0;bottom: 0;width: 12%;height: 36%;background-color: white;border: 1px solid #292929;
	z-index: 999; 
	-moz-z-index: 999;
	-webkit-z-index: 999;
	-o-z-index: 999;
	-ms-z-index: 999;
	-khtml-z-index: 999;}
	#fixednav a{display: block;width: 100%;height: 25%;line-height: 5rem;text-align: center;color: #292929;border: 1px solid #292929;font-size: 2rem;}
	#fixednav .fixednav1{top: 64%;width: 32%;}
	#fixednav .fixednav2{position: fixed;display: block;top: 73%;right: 12%;}
	#fixednav .fixednav3{top: 82%;width: 45%;}
	#fixednav .fixednav3,#fixednav .fixednav1{position: fixed;display: block;right: 12%;padding: 1rem;font-weight: bold;color: white;background-color: #292929;font-size: 2rem;}
	/*footer*/
	footer{width: 100%;height: 20%;background-color: #C4C4C4;padding-top: 20px;padding-bottom: 2%;}
	footer > div:first-child{width: 100%;height: auto;margin: 0 auto;margin-bottom: 1rem;text-align: center;}
	footer ul{width: 100%;margin: 0 auto;text-align: center;}
	footer li{margin-bottom: 0.8rem;color: black;font-size: 1.4rem;}
	footer a{color: black;text-decoration: underline;color: #f10180;font-size: 1.4rem;}
	footer > div:last-child{clear: both;margin: 0 auto;width: 100%;color: black;margin-top: 5%;text-align: center;font-size: 1.2rem;}
}

/* iPad */
@media  screen  and (min-width: 768px) and (max-width: 1023px){
	body{width: 100%;height: 100%;}
	/*header*/
 	header{position: relative;overflow: hidden;width: 100%;height: auto;margin-top: 1rem;}
 	header > div{width: 100%;height: auto;margin-bottom: 1rem;text-align: center;color: #3D3D3D;}
 	header > div > div:first-child{width: 100%;height: 30%;margin-bottom: 2rem;margin-top: 2rem;}
 	header > div > div:last-child{width: 100%;height: 30%;font-weight: bold;font-size: 2.6rem;}
 	header > div > div:last-child i{display: inline-block;margin-left: 1rem;color: #292929;font-size: 2.2rem;border: 1px solid #292929; padding: 1.4rem;}
 	header nav{width: 100%;height: 60px;line-height: 4.6rem;background-color: #f10180;}
 	header ul{width: 100%;height: 100%;text-align: center;margin-top: 2rem;}
 	header ul li{float: left;display:inline-block;zoom:1;*display: inline-block;width: 20%;height: 100%;}
 	header nav a{display: inline-block;width: 100%;height: 100%;text-align: center;color: white;font-weight: bold;font-size: 2rem;}
	/*fixednav*/
	#fixednav{position: fixed;right: 0;top: 40%;width: 10%;height: 24%;background-color: #f10180;
	z-index: 999;
	-moz-z-index: 999;
	-webkit-z-index: 999;
	-o-z-index: 999;
	-ms-z-index: 999;
	-khtml-z-index: 999;}
	#fixednav a{display: block;width: 100%;height: 25%;line-height: 4.5rem;text-align: center;color: white;}
	#fixednav .fixednav1{top: 38%;width: 140px;}
	#fixednav .fixednav2{position: fixed;display: block;right: 10%;top: 45%;padding: 2rem;}
	#fixednav .fixednav3{top: 52%;width: 170px;}
	#fixednav .fixednav3,#fixednav .fixednav1{position: fixed;display: block;right: 10%;padding: 1rem;font-weight: bold;color: black;border: 4px solid #f10180;font-size: 1.8rem;}
	/*footer*/
	footer{width: 100%;height: 20%;padding-top: 20px;padding-bottom: 2%;background-color: #C4C4C4;}
	footer > div:first-child{width: 100%;height: auto;margin: 0 auto;margin-bottom: 1rem;text-align: center;}
	footer ul{width: 100%;margin: 0 auto;text-align: center;}
	footer li{width: 100%;height: 100%;margin-bottom: 0.8rem;color: black;font-size: 1.4rem;}
	footer a{display: inline-block;width: 100%;height: 100%;color: black;text-decoration: underline;color: #f10180;font-size: 1.4rem;}
	footer > div:last-child{clear: both;width: 100%;margin: 5% auto 0;color: black;text-align: center;font-size: 1.2rem;}
}

/*大于1024px*/
@media  screen  and (min-width: 1024px)  {
	/*header*/ 
 	header{overflow: hidden;width: 100%;height: 100px;}
 	header > div{width: 75%;height: 60%;margin: 0 auto;line-height: 3rem;}
 	header > div > div:first-child{float: left;display:inline-block;zoom:1;*display: inline-block;width: 20%;height: 100%;color: ;}
 	header > div > div:last-child{float: right;display:inline-block;zoom:1;*display: inline-block;overflow: hidden;width: 400px;height: 100%;font-weight: bold;font-size: 1.2rem;}
 	header > div > div:last-child span{display: inline-block;font-size: 1.6rem;line-height: 6rem;margin-right: 2rem;}
 	header > div > div:last-child i{display: inline-block;margin-left: 1rem;color: black;font-size: 2rem;}
 	header > div > div:last-child i:hover{color: gray;}
 	header nav{width: 100%;height: 40%;background-color: #f10180;}
 	header ul{width: 70%;height: 100%;margin: 0 auto;line-height: 3.6rem;}
 	header ul li{float: left;display:inline-block;zoom:1;*display: inline-block;width: 10%;height: 100%;}
 	header nav a{display: inline-block;width: 100%;height: 100%;text-align: center;color: white;font-weight: bold;font-size: 1.6rem;}
 	header nav a:hover{color: #FFC0CB;}
	/*footer*/
	footer{width: 100%;height: auto;padding-top: 20px;padding-bottom: 1rem;background-color: #C4C4C4;color: black;}
	footer > div:first-child{width: 100%;height: auto;margin: 0 auto 3rem;text-align: center;}
	footer ul{width: 100%;margin: 0 auto;text-align: center;}
	footer li{margin-bottom: 0.8rem;color: black;font-size: 1.4rem;}
	footer a{color: black;font-size: 1.4rem;}
	footer a:hover{color: #EE1289;}
	footer > div:last-child{clear: both;width: 100%;margin-top: 2rem;text-align: center;font-size: 1.2rem;}
	/*fixednav*/
	#fixednav{position: fixed;right: 0;top: 42%;width: 4%;height: 24%;background-color: #f10180;
	z-index: 999;
	-moz-z-index: 999;
	-webkit-z-index: 999;
	-o-z-index: 999;
	-ms-z-index: 999;
	-khtml-z-index: 999;}
	#fixednav a{display: block;width: 100%;height: 25%;text-align: center;color: white;line-height: 4.5rem;font-size: 2.6rem;cursor: pointer;}
	#fixednav a:hover{color: #FFC0CB;}
	#fixednav .fixednav1{top: 42%;width: 120px;}
	#fixednav .fixednav2{position: fixed;display: block;right: 4%;top: 47%;padding: 2rem;height: auto;}
	#fixednav .fixednav3{top: 54%;width: 160px;}
	#fixednav .fixednav3,#fixednav .fixednav1{position: fixed;display: block;right: 6%;height: auto;padding: 1rem;font-weight: bold;color: #EE1289;border: 4px solid #878787;font-size: 1.8rem;}
}
