/* iphone */
@media  screen  and (min-width: 320px) and (max-width: 767px)  {

	body{width: 100%;height: 100%;}
    .banner{width: 100%;height: 400px;background:url(images/homeimg/sectionbgimg.jpg) no-repeat top center;}
 	section{width: 100%;height: auto;}
		.content{width: 95%;height: auto;overflow: hidden;margin: 0 auto;}
		.content > div{width: 100%;height: auto;text-align: center;padding: 5% 0;margin-top: 5%;}
		.content hr{border: 1px solid gray;}
		.content h2{color: #f10180;}
		.content a{font-size: 1.6rem;}
		.content > div > a{display: inline-block;border-bottom: 4px solid #EE1289;line-height: 2.6rem;color: #4D4D4D;text-align: center;width: 140px;}
		.content > div > div{width: 100%;height: auto;margin-bottom: 2rem;overflow: hidden;}
		.content > div > div a{color: #EE1289;}]
		.content .listintro > div{float: left;display: inline;width: 40%;height: auto;margin-bottom: 2rem;margin: 0 auto;margin-left: 2.1rem;}
		.content .listchild{float: left;display: inline;padding: 20px 0;}
		.content .listchild button{float: right;display: inline;width: 6rem;height: 5rem;font-size: 3rem;background-color: white;border-style: none;border: 2px solid black;}
		.content .listchild button:active{outline: none;}
		.content .listchild img{width: 100%;margin-top: 1rem;}
		.content .listchild table{width: 100%;text-align: left;margin-top: 4rem;}
		.content .listchild table caption{font-size: 2.2rem;color: black;margin-bottom: 1rem;}
		.content .listchild table td{padding:;font-size: 1rem;color: #6B6B6B;}
		.content .listchild table .introWord{font-size: 1.8rem;color: #292929;}
		.content .listchild table span{font-size: 2rem;color: #EE1289;margin-bottom: 1rem;display: block;}
}

/* iPad */
@media  screen  and (min-width: 768px) and (max-width: 1023px){

	body{width: 100%;height: 100%;}
    .banner{width: 100%;height: 400px;background:url(images/homeimg/sectionbgimg.jpg) no-repeat top center;}
 	section{width: 100%;height: auto;}
		.content{width: 95%;height: auto;overflow: hidden;margin: 0 auto;}
		.content > div{width: 100%;height: auto;text-align: center;padding: 5% 0;margin-top: 5%;}
		.content hr{border: 1px solid gray;}
		.content h2{color: #f10180;}
		.content a{font-size: 1.6rem;}
		.content > div > a{display: inline-block;border-bottom: 4px solid #EE1289;line-height: 2.6rem;color: #4D4D4D;text-align: center;width: 140px;}
		.content > div > div{width: 100%;height: auto;margin-bottom: 2rem;overflow: hidden;}
		.content > div > div a{color: #EE1289;}
		.content .listintro > div{float: left;display: inline;width: 20%;height: auto;margin-right: 2.5%;margin-left:2.5%;margin-bottom: 5%;margin-top: 2rem;}
		.content .listchild{float: left;display: inline;padding: 20px 0;}
		.content .listchild button{float: right;display: inline;width: 7rem;height: 4.8rem;font-size: 3rem;background-color: white;border-style: none;border: 2px solid black;}
		.content .listchild button:active{outline: none;}
		.content .listchild img{float: left;display: inline;}
		.content .listchild table{float:right;display: inline;width: 55%;text-align: left;margin-top: 4rem;}
		.content .listchild table caption{font-size: 2.2rem;color: black;}
		.content .listchild table td{padding: 0.8rem;font-size: 0.8rem;color: #6B6B6B;}
		.content .listchild table .introWord{font-size: 1.2rem;color: #292929;}
		.content .listchild table span{font-size: 2rem;color: #EE1289;}
}

/*大于1024px*/
@media  screen  and (min-width: 1024px)  {	

    .banner{width: 100%;height: 500px;background:url(images/homeimg/sectionbgimg.jpg) no-repeat top center;}
 	section{width: 100%;height: auto;}
		.content{width: 65%;height: auto;margin: 2.5% auto;overflow: hidden;}
		.content > div{width: 100%;height: auto;text-align: center;padding: 5% 0;margin-top: 5%;}
		.content hr{border: 1px solid gray;}
		.content h2{color: #f10180;}
		.content a{font-size: 1.4rem;}
		.content > div > a{display: inline-block;border-bottom: 4px solid #EE1289;line-height: 2.6rem;color: #4D4D4D;text-align: center;width: 140px;
		transition: width 0.8s;
		-moz-transition: width 0.8s;
		-webkit-transition: width 0.8s;
		-o-transition: width 0.8s;}
		.content > div > a:hover{width: 190px;color: #EE1289;}
		.content > div > div{width: 100%;height: auto;margin-bottom: 30px;overflow: hidden;}
		.content > div > div a{color: #EE1289;}
		.content > div > div a:hover{color: #EE799F;}
		.content .listintro > div{float: left;display: inline;width: 20%;margin: 2% 2.5%;padding:1.5%;cursor: pointer;
			position:relative;
   			background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
    		border-top: 1px solid #ccc;
    		border-right: 1px solid #ccc;
   			-webkit-border-bottom-right-radius: 60px 60px;
    		-webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);}
		.content .listintro > div:before{
    		content:'';    
    		width: 25px;
    		height: 20px;
    		position: absolute;
    		bottom:0;
    		right:0;
    		-webkit-border-bottom-right-radius: 30px;
    		-webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    		-webkit-transform:
    		rotate(-20deg)
    		skew(-40deg,-3deg)
    		translate(-13px,-13px);}

		.content .listintro > div:after{
    		content: '';
    		z-index: -1;
    		width: 100px;
    		height: 100px;
    		position:absolute;
    		bottom:0;
    		right:0;
    		background: rgba(0, 0, 0, 0.2);
    		display: inline-block;
    		-webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
    		-webkit-transform: 
    		rotate(0deg)
            translate(-45px,-20px)
            skew(20deg);}
		.content .listchild{float: left;display: inline;padding: 2% 0;}
		.content .listchild button{float: right;display: inline;width: 7rem;height: 4.8rem;font-size: 3rem;background-color: white;border-style: none;border: 2px solid black;}
		.content .listchild button:hover{background-color: black;color: white;border-color: black;}
		.content .listchild button:focus{outline: none;}
		.content .listchild button:active{outline: none;}
		.content .listchild img{float: left;display: inline;}
		.content .listchild table{float:right;display: inline;width: 55%;text-align: left;margin-top: 4rem;}
		.content .listchild table caption{font-size: 2.2rem;color: black;}
		.content .listchild table td{padding: 0.8rem;font-size: 0.8rem;color: #6B6B6B;}
		.content .listchild table .introWord{font-size: 1.2rem;color: #292929;}
		.content .listchild table span{font-size: 2rem;color: #EE1289;}
}



