/* iphone */
@media  screen  and (min-width: 320px) and (max-width: 767px)  {

	body{width: 100%;height: 100%;}
	section{width: 100%;height: auto;background: url(images/homeimg/contactbgimg.jpg) no-repeat center top;font-size: 1rem;}
	section .box{width: 100%;height: 100%;background-color: rgba(33,33,33,0.8);padding: 4%;}
	section .box form{margin-left: 10%;width:90%;height: 80%;}
	section .box button{background-color: #f10180;border: none;font-size: 1.4rem;width: 8rem;font-weight: bold;color: white;margin-bottom: 2.8rem;}
	section .box button:hover{background-color: #A6A6A6;color: white;}
	section .box label{font-size: 1.2rem;color: #A6A6A6;margin-bottom: 1.2rem;}
	section .box input{font-size: 1.2rem;color: #A6A6A6;background-color:transparent;border: 1px solid #A6A6A6;outline: none;margin-bottom: 2rem;height: 2.6rem;padding-left: 1.4rem;}
	section .box #content{display: none;font-size: 1.2rem;color: white;background-color:transparent;border: 1px solid #A6A6A6;outline: none;margin-bottom: 1rem;padding: 1.4rem;}
	section .box #content2{font-size: 1.2rem;color: white;background-color:transparent;border: 1px solid #A6A6A6;outline: none;margin-bottom: 1rem;padding: 0.6rem;}
	section .box p{font-size: 1rem;color: white;margin-top: 1.2rem;}
}

/* iPad */
@media  screen  and (min-width: 768px) and (max-width: 1023px){

	body{width: 100%;height: 100%;}
	section{width: 100%;height: 700px;background: url(images/homeimg/contactbgimg.jpg) repeat top;}
	section .box{width: 100%;height: 100%;background-color: rgba(33,33,33,0.8);padding: 4%;}
	section .box form{margin-left: 16%;width: 40%;height: 80%;}
	section .box button{background-color: #f10180;border: none;font-size: 1.4rem;width: 8rem;font-weight: bold;color: white;margin-bottom: 2.8rem;}
	section .box label{font-size: 1.2rem;color: #A6A6A6;margin-bottom: 1.2rem;}
	section .box input{font-size: 1.2rem;color: #A6A6A6;background-color:transparent;border: 1px solid #A6A6A6;outline: none;margin-bottom: 2rem;height: 2.6rem;padding-left: 1.4rem;}
	section .box #content{font-size: 1.2rem;color: white;background-color:transparent;border: 1px solid #A6A6A6;outline: none;margin-bottom: 1rem;padding: 1.4rem;}
	section .box #content2{display: none;}
	section .box p{font-size: 1rem;color: white;margin-top: 1.2rem;}
}

/*大于1024px*/
@media  screen  and (min-width: 1024px)  {	
	section{width: 100%;height: auto;background: url(images/homeimg/contactbgimg.jpg) repeat top;}
	section .box{width: 100%;height: 100%;background-color: rgba(33,33,33,0.8);padding: 4%;}
	section .box form{margin-left: 25%;width: 40%;height: 80%;}
	section .box button{background-color: #f10180;border: none;font-size: 1.4rem;width: 8rem;font-weight: bold;color: white;margin-bottom: 2.8rem;}
	section .box button:hover{background-color: #A6A6A6;color: white;}
	section .box label{font-size: 1.2rem;color: #A6A6A6;margin-bottom: 1.2rem;}
	section .box input{font-size: 1.2rem;color: #A6A6A6;background-color:transparent;border: 1px solid #A6A6A6;outline: none;margin-bottom: 2rem;height: 2.6rem;padding-left: 1.4rem;}
	section .box #content{font-size: 1.2rem;color: white;background-color:transparent;border: 1px solid #A6A6A6;outline: none;margin-bottom: 1rem;padding: 1.4rem;}
	section .box #content2{display: none;}
	section .box p{font-size: 1rem;color: white;margin-top: 1.2rem;}
}