*{margin: 0;padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}
body{font-size: 100%;font-family: "微软雅黑";}
body a{text-decoration: none;text-shadow: none;}
body a:active{text-decoration: none;}
li{list-style-type: none;}
img{border: 0;max-width: 100%;width: auto;}
input{font-size: 14px;}
.foot{z-index: 99;}
.foot li{border: none;}
.block{display: block;padding: 15px 0;}
#mainpage{text-align: center;}
#content a{color: gray;font-size: 11px;}
.service{text-align: center;padding: 5px;border-bottom: 1px solid #E8E8E8;background-color: white;}
.service a{font-size: 10px;color: gray;}
.contentpic{width: 100%;height: auto;overflow: hidden;margin-bottom: 10px;background-color: white;}
.contentpic .price{color: #CD2626;margin: 4px 0;}
.contentpic ul li{float: left;width: 50%;height: auto;background-color: white;}
.marginbottom li{margin-bottom: 10px;}
.topdiv{width: 100%;height: auto;overflow: hidden;}
.topdiv div{float: left;width: 50%;height: auto;}
.border li{border-left: 1px solid #EBEBEB;border-bottom: 1px solid #EBEBEB;}
.more a{display: block;width: 100%;height: 100%;line-height: 200px;}

#wrapper{position: relative;z-index: 1;height: 30px;width: 100%;overflow: hidden;-ms-touch-action:none;}
#scroller{position: absolute;z-index: 1;width: 1000px;height: 30px;	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;}
#scroller ul {
	width: 100%;
	padding: 0;
	margin: 0;
}
#scroller li {
	width: 80px;
	height: 30px;
	float: left;
	line-height: 30px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fafafa;
	font-size: 12px;
	color: gray;
	overflow: hidden;
	text-align: center;
}
#content > div{background-color: #EBEBEB;overflow: hidden;}
#scroller li a{cursor: pointer;display: inline-block;width: 100%;height: 100%;color: gray;text-shadow: none;}


#page2,#page3,#page4,#page5{overflow: hidden;margin-top: -70px;}

#page2 div:first-child,#page4 div:first-child{height: 40px;line-height: 40px;background-color: #F2F2F2;}
#page2 li{width: 100%;height: auto;margin-bottom: 20px;}
#page2 .page2_p{font-size: 14px;color: black;}
#page2 li a p:last-child{font-size: 10px;color: #8B1A1A;}

#page3 .tabdiv{width: 18%;height: 100%;border-right: 1px solid gray;float: left;}
#page3 ul{width: 100%;}
#page3 li{width: 100%;height: 86px;line-height: 86px;outline: none;}
#page3 li a{display: block;width: 100%;height: 100%;font-size: 14px;color: gray;outline: none;}
#page3 #tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7{float: right;width: 82%;padding: 2%;}
#page3 #tab1 table,#tab2 table,#tab3 table,#tab4 table,#tab5 table,#tab6 table,#tab7 table{width: 100%;height: auto;padding: 5%;margin-top: 10px;}
#page3 #tab1 table td img,#tab2 table td img,#tab3 table td img,#tab4 table td img,#tab5 table td img,#tab6 table td img,#tab7 table td img{border-radius: 50%;border: 1px solid gray;}
#page3 #tab1 table caption,#tab2 table caption,#tab3 table caption,#tab4 table caption,#tab5 table caption,#tab6 table caption,#tab7 table caption{font-weight: bold;font-size: 14px;color: gray;}
#page3 #tab1 table p,#tab2 table p,#tab3 table p,#tab4 table p,#tab5 table p,#tab6 table p,#tab7 table p{font-size: 8px;color: gray;}
#page3 #tab1 table td,#tab2 table td,#tab3 table td,#tab4 table td,#tab5 table td,#tab6 table td,#tab7 table td{padding: 4%;}

#page4 .service a{color: gray;display: inline-block;width: 100%;height: 100%;}
#page4 div:first-child a{color: gray;}
#page4 div:first-child h4{margin-top: -10px;}
#page4 form legend{font-size: 10px;color: #CD2626;}


#page5 .page5_a{width: 100%;height: 140px;background-color: black;line-height: 140px;}
#page5 .page5_a a{display: block;width: 100%;height: 100%;padding: 10%;}
#page5 .page5_a  img{border-radius: 50%;width: 70px;height: 70px;margin-right: 20px;}
#page5 .page5_a  span{font-size: 14px;color: white;}
#page5 .mydingdan_a{height: 40px;line-height: 40px;text-align: left; margin-left: 10px;}
#page5 .mydingdan_a a{color: gray;font-size: 14px;}
#page5 .page5_last a{text-align: left;}

#person div > a{height: 60px;line-height: 40px;font-size: 14px;color: gray;}
#person a img{border-radius: 50%;margin-right: 10px;}
#person a .span_a{float: left;}
#person a .span_b{float: right;}

#dingdan{text-align: center;}
#dingdan li{float: left;width: 20%;height: 30px;outline: none;}
#dingdan .tabdiv a{display: inline-block;width: 100%;height: 100%;color: gray;font-size: 14px;outline: none;}
#dingdan #tab11,#dingdan #tab22,#dingdan #tab33,#dingdan #tab44,#dingdan #tab55{font-size: 8px;color: #DEDEDE;height: 550px;line-height: 550px;}

